<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="AspNetDbConnectionString" connectionString="Data Source=(local);Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<authentication mode="None"/>
		<roleManager enabled="true"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>
		<services>
			<service name="AspNetSqlProviderService" behaviorConfiguration="MEX Enabled">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransactionalWS" contract="IApplicationManager"/>
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransactionalWS" contract="IMembershipManager"/>
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransactionalWS" contract="IPasswordManager"/>
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransactionalWS" contract="IRoleManager"/>
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransactionalWS" contract="IUserManager"/>
			</service>
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="TransactionalWS" transactionFlow="true">
					<reliableSession enabled="True"/>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MEX Enabled">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/warnaserror-">
				<providerOption name="CompilerVersion" value="v4.0"/>
				<providerOption name="WarnAsError" value="false"/></compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/optioninfer+" warningLevel="4">
				<providerOption name="CompilerVersion" value="v4.0"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<system.web.extensions>
		<scripting>
			<webServices><!--
			Uncomment this section to enable the authentication service. Include requireSSL="true" if appropriate.
			<authenticationService enabled="true" requireSSL = "true|false"/>
		-->
				<!--
			Uncomment these lines to enable the profile service, and to choose
			the profile properties that can be retrieved and modified in ASP.NET AJAX applications.

			<profileService enabled="true" readAccessProperties="propertyname1,propertyname2" writeAccessProperties="propertyname1,propertyname2" />
		-->
				<!--
			Uncomment this section to enable the role service.
			<roleService enabled="true"/>
		-->
			</webServices></scripting></system.web.extensions>
	<!--
		The system.webServer section is required for running ASP.NET AJAX under Internet
		Information Services 7.0. It is not necessary for previous version of IIS.
	-->
</configuration>
