<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="calculatorServieBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Artech.WCFService.Service.GeneralCalculatorService" behaviorConfiguration="calculatorServieBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Artech.WCFService.Contract.IGeneralCalculator"/>
        <endpoint address="" binding="netTcpBinding" contract="Artech.WCFService.Contract.IGeneralCalculator"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/generalcalculator"/>
            <add baseAddress="net.tcp://localhost:9999/generalCalculator"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
