<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="CalculatorService" address="net.tcp://127.0.0.1:9999/CalculatorService" 
                binding="netTcpBinding" contract="Contracts.ICalculator" />
    </client>
  </system.serviceModel>
</configuration>