<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="CredentialsManagerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <applicationSettings>
      <CredentialsManagerClient.Properties.Settings>
         <setting name = "AspNetSqlProviderService" serializeAs="String">
            <value>http://localhost/CredentialsService/AspNetSqlProviderService.svc</value>
         </setting>
      </CredentialsManagerClient.Properties.Settings>
   </applicationSettings>
   <system.serviceModel>
      <client>
         <endpoint
            address  = "http://localhost/CredentialsService/AspNetSqlProviderService.svc"
            binding  = "wsHttpBinding"
            contract = "IApplicationManager"
         />
         <endpoint
            address  = "http://localhost/CredentialsService/AspNetSqlProviderService.svc"
            binding  = "wsHttpBinding"
            contract = "IMembershipManager"
         />
         <endpoint
            address  = "http://localhost/CredentialsService/AspNetSqlProviderService.svc"
            binding  = "wsHttpBinding"
             contract = "IPasswordManager"
         />
         <endpoint
            address  = "http://localhost/CredentialsService/AspNetSqlProviderService.svc"
            binding  = "wsHttpBinding"
             contract = "IRoleManager"
         />
         <endpoint
            address  = "http://localhost/CredentialsService/AspNetSqlProviderService.svc"
            binding  = "wsHttpBinding"
            contract = "IUserManager"
         />
      </client>
      <bindings>
         <wsHttpBinding>
            <binding transactionFlow = "true">
               <reliableSession enabled = "True"/>
            </binding>
         </wsHttpBinding>
      </bindings>
   </system.serviceModel>
</configuration>