<?xml version = "1.0" encoding = "utf-8"?>
<configuration>
   <system.serviceModel>
      <client>
         <endpoint name = "HTTP" 
            address  = "http://localhost:8000/MyService/" 
            binding  = "basicHttpBinding"
            contract = "IMyContract"
         />
         <endpoint name = "TCP" 
            address  = "net.tcp://localhost:8001/MyService" 
            binding  = "netTcpBinding"
            contract = "IMyContract" 
         />
         <endpoint name = "IPC" 
            address  = "net.pipe://localhost/MyService" 
            binding  = "netNamedPipeBinding"
            contract = "IMyContract" 
         />

      </client>
   </system.serviceModel>
</configuration>