<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <!-- Using the colored console as my target-->
    <target xsi:type="ColoredConsole" name="colored_console"/>
    <target name="f1" xsi:type="File" fileName="./what/what.txt"
            layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}"/>
  </targets>

  <rules>
    <!-- Writing everything to the cololred console -->
    <logger name="*" minlevel="Trace" writeTo="colored_console"/>
    <logger name="*" minlevel="Debug" writeTo="f1"/>
  </rules>
</nlog>
