<?xml version = "1.0" encoding = "utf-8" ?>
<configuration>
   <configSections>
   </configSections>
   <connectionStrings>
      <add name = "LogbookService.Properties.Settings.WCFLogbookConnectionString"
         connectionString="Data Source=(local);Initial Catalog=WCFLogbook;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
   </connectionStrings>
   <system.serviceModel>
      <services>
         <service name = "ServiceModelEx.LogbookManager" behaviorConfiguration = "MEX">
            <endpoint
               address  = "http://localhost:8005/LogbookManager"
               binding  = "basicHttpBinding"
               contract = "ServiceModelEx.ILogbookManagerService"
            />
            <endpoint
               address  = "net.tcp://localhost:8006/LogbookManager"
               binding  = "netTcpBinding"
               contract = "ServiceModelEx.ILogbookManagerService"
            />
            <endpoint
               address  = "net.pipe://localhost/LogbookManager"
               binding  = "netNamedPipeBinding"
               contract = "ServiceModelEx.ILogbookManagerService"
            />
         </service>
      </services>
      <behaviors>
         <serviceBehaviors>
            <behavior name = "MEX">
               <serviceMetadata httpGetEnabled = "true"/>
            </behavior>
         </serviceBehaviors>
      </behaviors>
   </system.serviceModel>
</configuration>
