<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors/>
    <services>
      <service name="Services.CalculatorService">
        <endpoint address="net.tcp://127.0.0.1:9999/CalculatorService"
                  binding="netTcpBinding"
                  contract="Contracts.ICalculator" />
      </service>
    </services>
  </system.serviceModel>
</configuration>